
.rate_block ul {
    width: 90px;
    height: 16px;
    position: relative;
    background: url(img/sprite.png);
    list-style: none;
    padding: 0;
}
.rate_block li {
    float: left;
    height: 16px;
}
.rate_block li span {
    display: block;
    width: 18px;
    height: 16px;
    position: absolute;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
}
.rate_block li span:hover {
    background: url(img/sprite.png) left bottom;
    left: 0;
    z-index: 2;
}
.rate_block span.star1 {
    left: 0;
}
.rate_block span.star1:hover {
    width: 18px;
}
.rate_block span.star2 {
    left: 18px;
}
.rate_block span.star2:hover {
    width: 36px;
}
.rate_block span.star3 {
    left: 36px;
}
.rate_block span.star3:hover {
    width: 54px;
}
.rate_block span.star4 {
    left: 54px;
}
.rate_block span.star4:hover {
    width: 72px;
}
.rate_block span.star5 {
    left: 72px;
}
.rate_block span.star5:hover {
    width: 90px;
}
.rate_block li.current {
    background: url(img/sprite.png) left bottom;
    z-index: 1;
}

/*кнопка*/
.rate_block .rate_button{
    width:82px;
    height: 20px;
    background: url('img/but_sprite.png') 0 25px;
    display: inline-block;
}
.rate_block .rate_button:hover {
    background-position: 0 90px;
}
.rate_block .rate_button:focus {
    background-position: 0 47px;
}
.rate_block .rate_button:active {
    background-position: 0 69px;
}
